* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand;
}
body {
  width: 100%;
  height: 100vh;
  background:linear-gradient(to right top,#b597f6,#439cfb);
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
